---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "../layouts/Layout.astro";

import { Input } from "@/components/ui/input";
import { useState, type ChangeEvent } from "react";
import SearchMovie from "@/components/features/Movies";
---

<Layout title="Welcome to Astro.">
  <main class="w-[90vw] mt-5">
    <SearchMovie client:load />
  </main>
</Layout>
