---
import Layout from "../layouts/Layout.astro";
import SearchMovie from "@/components/features/Movies";
---

<Layout title="Welcome to Astro.">
  <main class="w-[90vw] mt-5">
    <SearchMovie client:load />
  </main>
</Layout>
